<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"><i class='bx bx-menu' id="header-toggle"></i></div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div><a href="{{ path('app_main') }}" class="nav_logo"><i class='bx bx-home-alt-2 nav_logo-icon'></i><span class="nav_logo-name">WHEOS</span></a>
                <div class="nav_list"> 
                <a href="#" class="nav_link active icon1"><i class='bx bx-book-open nav_icon'></i><span class="nav_name">Forum</span></a> 
                <a href="#" class="nav_link icon2"><i class='bx bx-user nav_icon'></i><span class="nav_name">Users</span></a> 
                <a href="#" class="nav_link icon3"><i class='bx bx-message-square-detail nav_icon'></i><span class="nav_name">Messages</span></a> 
                <a href="#" class="nav_link icon4"><i class='bx bx-bookmark nav_icon'></i><span class="nav_name">Bookmark</span></a> 
                </div>
            </div> 
            <a href="{{ path('app_logout') }}" class="nav_link"><i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Déconnexion</span></a>
        </nav>
    </div>
    <!--Container Main start-->
    <!--Container Main end-->