
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> encrypt / decrypt key ###
/config/secrets/prod/prod.decrypt.private.php
config/secrets/dev/dev.decrypt.private.php
config/secrets/dev/dev.encrypt.public.php
###< encrypt / decrypt key ###

###> files directory ###
public/download
public/uploads
###< files directory ###
