{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="mb-3">
        Bonjour {{ app.user.FirstName }} {{ app.user.LastName }}
    </div>
{% endblock %}
