body{
    background-color : #071330;
}

h1{
    color : #0047FF;
    font-family: 'Times New Roman', Times, serif;
    text-align : center;
}

thead{
    background-color : #0C4160;
}

.table{
    width : 1115px;
    border : #0047FF 2px solid;
    margin-left : auto;
    margin-right : auto;
}

th, tr{
    color : white;
}

button{
    background-color: #071330;
    width : 200px;
}

.btn{
    background-color: #071330;
    color : white;
    font-family: 'Times New Roman', Times, serif;
    border :#0047FF 2px solid;
    margin-left : 530px;
}

a{
   text-decoration: none;
   font-family: 'Times New Roman', Times, serif;
   color : white;
}

.btn2{
    margin-left : 285px;
    border :#0047FF 2px solid;
}

.btn:hover{
    background-color: rgba(0, 255, 128, 0.884);
    border :#0047FF 2px solid;
}