body{
    background-color: #071330;
}

h1{
    color : #0047FF;
    font-family: 'Times New Roman', Times, serif;
    text-align : center;
}

a{
    color : white;
    text-decoration: none;
}

.container{
    background-color: #0C4160;
}

.btn, .btn2{
    background-color: #0047FF;
}

button{
    margin-left : 600px;
}