body{
    background-color: #071330;
}

a,.table,.material-symbols-outlined {
    color : white;
}

button{
    margin-left : 700px;
    font-family: 'Times New Roman', Times, serif;
    background-color : #0C4160;
    border :rgba(1, 174, 116, 1) 2px solid;
    border-radius: 5px;
}

a{
    text-decoration: none;
}


h1{
    color : rgba(1, 174, 116, 1);
    font-family: 'Times New Roman', Times, serif;
    margin-left : 660px;
}