.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.card-registration {
    background-color: #0C4160;
}

.card-registration {
    border: 1px solid #00C981;
}

.title,
.account,
.consent,
.isConnect {
    color: #00C981;
}

.form-control-lg {
    border: 1px solid #00C981;
    background-color: #0C4160;
}

.form-control {
    border: 1px solid #00C981;
    background-color: #0C4160;
}

.btnSub {
    border: 1px solid #00C981;
    color: white;
}

.btnSub:hover {
    background-color: #00C981;
}