{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
<div class="container py-5 h-50" style="color: #00C981;">
    <h1 >Modifier un utilisateur</h1>
    
    {{ form(userForm) }}
</div>
{% endblock %}