{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('utilisateurs')}}" class="btn btn-secondary">Liste des utilisateurs</a>
{% endif %}

{% endblock %}
