{% extends 'base.html.twig' %}

{% block title %}New Files{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/newfilestyles.css')}} "> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}

{% block body %}
    <h1>Create new Files</h1>

    <h3> Ajouter un nouveau fichier <h3>

    {{ include('files/_form.html.twig') }}

    <a href="{{ path('app_files_index') }}">back to list</a>
{% endblock %}
