{% extends 'base.html.twig' %}

{% block title %}New Files{% endblock %}

{% block body %}
    <h1>Create new Files</h1>

    <h3> Ajouter un nouveau fichier <h3>

    {{ include('files/_form.html.twig') }}

    <a href="{{ path('app_files_index') }}">back to list</a>
{% endblock %}
