{% extends 'base.html.twig' %}

{% block title %}Modifier categorie{% endblock %}
{% block body %}
    <section class="container">
        <div class="row border-bottom text-light">
            <p>Modifier une gatégorie</p>
        </div>
        <div class="row">

        </div>
        <div class="row text-light">
            {{form(categoriesForm)}}
        </div> 
    </section>
{% endblock %}