{% extends "base.html.twig" %}

{% block title %}WHEOS | PAGE NON TROUVEE
{% endblock %}

{% block body %}

	<section class="container">
        <div class="alert alert-primary" role="alert">
            <div class="alert-message">
                <h1> Page non trouvée !</h1>
                <p> La page que vous cherchez n'a pas été trouvée.</p>
            </div>
        </div>
	</section>

{% endblock %}