{% extends "base.html.twig" %}
{% block title %}WHEOS | ACCES INTERDIT
{% endblock %}
{% block body %}

	<section class="container">
        <div class="alert alert-primary" role="alert">
            <div class="alert-message">
                <h1> Accès Interdit !</h1>
                <p> Vous n'avez pas le droit d'être sur cette page.</p>
            </div>
        </div>
	</section>

{% endblock %}