{% extends 'base.html.twig' %}

{% block title %}Edit FilesCategories{% endblock %}

{% block body %}
    <h1>Edit FilesCategories</h1>

    {{ include('files_categories/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_files_categories_index') }}">back to list</a>

    {{ include('files_categories/_delete_form.html.twig') }}
{% endblock %}
